body{
  padding-top: 65px;
}

.debug [class*="col-"]{
  border: 1px solid black;
}

.navbar [class*="col-"]{
  height: 65px;
}


.my_jumbotron{
  background-color: #004aff;
  margin-bottom: 0;
}

/* CUSTOMERS */

#customers{
  background-color: lightgrey;
}

/* PROCESS */


/* DESIGNED */

#designed{
  background-color: lightgrey;
  text-align: center;
}

/* NEEDS */

/* SERVERS */

#servers{
  background-color: #0033af;
  color: white;
}

/* FEEDBACK */

#feedback{
  background-color: lightgrey;
}

.square{
  background-color: white;
  Width:80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* START */

#start{
  background-color: #0033af;
  text-align: center;
  color: white;
}
