body{
  padding-top: 65px;
  font-family: 'Roboto', sans-serif;
}


.h3-black{
  color: black;
}

.h3-blue{
  color: #004aff;
}


.debug [class*="col-"]{
  border: 1px solid black;
}

.navbar [class*="col-"]{
  height: 65px;
  line-height: 65px;
}

.navbar img{
  max-height: 2.5rem;
  line-height: 65px;
}

.navbar span{
  color: #2a8afd;
  float: right;
  line-height: 65px;
  font-size: 1.5rem;
}

.navbar li{
  display:inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 15px;
}

.navbar ul span{
  color: black;
}

.my_nav_dx{
  float:right;
}

.my_btn_sign_up{
  border: 1px solid #004aff;
  color: #004aff;
}

/* JUMBO */

.my_jumbotron{
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  color: white;
}

.my_btn_account{
  width: 100%;
}

.my_bth_google{
  width: 100%;
  background-color: white;
  color: black;
}

.my_form{
  position: relative;
}


.my_bth_google img{
  height: 20px;
  position:absolute;
  left: 2%;
}

.my_jumbotron [class*="col-"]:last-child{
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.my_jumbotron [class*="col-"]:last-child p{
  color: black;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.my_jumbotron h1{
  font-weight: 700;
}

.my_jumbotron .h3-blue{
  margin-top: 10px;
}

.my_form button:last-child{
  margin: 10px 0;
}

.my_jumbotron h3:first-child{
  margin-top: 40px;
}


/* CUSTOMERS */

#customers{
  background-color: #f4f5f9;
  text-align: center;
}

#customers [class*="col-"] img{
  height: 77px;
}

#splunk{
  padding-top: 20px;
  padding-bottom: 18px;
}

#customers p:first-child{
  color: grey;
  margin-top: 64px;
  margin-bottom: 25px;
  font-size: 2rem;
}

#customers p:last-child{
  margin-top: 25px;
  margin-bottom: 64px;
  font-size: 2rem;
  color: #004aff;
}

/* PROCESS */
#process {
  margin: 64px 0;
}


#process .container > h2{
  text-align: center;
  margin-bottom: 20px;
}

#process .container > p {
 text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}



#process li{
  list-style-type: none;
  border-left: 2px solid lightgrey;
  padding: 10px;
}



/* DESIGNED */

#designed{
  background-color: #f4f5f9;
  text-align: center;
}

#designed h2{
  margin-top: 64px;
  margin-bottom: 20px;
}

#designed img{
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.slider i:first-child{
  opacity: 0.7;
  position: relative;
  top: 50px;
  right: 20px;
}

.slider i:nth-of-type(2){
  position: relative;
  top: 50px;
  left: 20px;
}


.circles{
  color: #004aff;
  margin-bottom: 64px;
}



/* NEEDS */

#needs{
  margin: 64px 0;
}

#needs h2{
  text-align: center;
}

#needs img{
  margin-top:20px;
}

#needs a{
  color: #0033af;
}

/* SERVERS */

#servers{
  background-color: #0033af;
  color: white;
  padding: 64px 0;
}

#servers h2{
  text-align: center;
}

#servers a{
  color: #08a9c9;
}

#servers [class*="col-"] .row:not(:last-of-type){
  border-bottom: 1px solid white;

}

#servers [class*="col-"] .row{
  padding-top: 10px;

}

#servers p{
  color: lightgrey;
}

/* FEEDBACK */

#feedback{
  background-color: #f4f5f9;
  text-align: center;
}

#feedback h2{
  margin: 64px 0;
}

.square{
  background-color: white;
  Width:60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-bottom: 50px;
  display: inline-block;
}

#feedback img{
  max-width: 200px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.square p:last-of-type{
  margin-bottom: 40px;
}

#feedback a{
  color: #08a9c9;
}

#feedback .circles{
  margin-top: 30px;
  margin-bottom: 64px;
}

.slider_feedback i:first-child{
  opacity: 0.7;
  position: relative;
  right:20px;
  bottom: 80px;
}

.slider_feedback i:nth-of-type(2){
  position: relative;
  left:20px;
  bottom: 80px;
}



/* START */

#start{
  background-color: #0033af;
  text-align: center;
  color: white;
  padding: 55px 0;
}

.my_btn_start{
  color: #0033af;
  margin-top: 10px;
}


/* FOOTER */

footer{
  background-color: #031c4e;
  color: white;
}



@media screen and (max-width: 768px) {

 #process ul{
   padding-left: 0px;
 }


 [class*="slider"] i {
   display: none;
 }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .my_jumbotron h1{
    font-weight: 300;
    font-size: 40px;
  }

  #process ul{
    padding-left: 0px;
  }

  [class*="slider"] i {
    display: none;
  }

}

@media screen and (min-width: 993px) and (max-width: 1200px) {

  .my_jumbotron h1{
    font-weight: 500;
    font-size: 50px;
  }

  #process [class*="col-"]{
    height: 180px;
  }

}

@media screen and (min-width: 1200px) {

  #process [class*="col-"]{
    height: 180px;
  }

  #servers [class*="col-"] .row{
    margin-left: 15px;
  }
}
